$first-color : #722241ff;

$colors: (
  "purple-light": #ebdafeff,
  "purple-dark": #42206aff,
  "gray-light": #e2e2e2ff,
  "teal-dark": #0b4e50ff,
);

$z-index: (
  change-address-modal: 100,
  loader-container: 101,
);
