@import "./defaults/variables";
@import "./defaults/fonts";
@import "./defaults/mixins";
@import "./defaults/functions";
@import "./defaults/animations";
@import "./defaults/reset";
@import "./defaults/defaults";

@import "./components/header";
@import "./components/footer";
@import "./components/loader";
@import "./components/datepicker";


body {
    margin: 0;
    background: #f5f6f8;
    color: #222;
    min-height: 100vh;

    #app {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        position: relative;

        button {
            background: none;
            border: none;
        }

        main {
            @include flex($justify : center);
            padding-bottom: 3rem;

            #home-view {

                &.view {
                    display: none;
                    animation: popScale 0.15s cubic-bezier(0.3, 0.56, 0.23, 0.63);

                    &.active-view {
                        display: block;
                    }
                }

                #next-events-container {
                    @include flex($direction: column, $align: flex-end);
                    min-width: 90vw;

                    margin-top: 1.5rem;
                    transition : all .3s ease-in-out;
                    &:active {
                        background-color: map-get($colors, "gray-selection");
                        scale: .98;
                        border-radius: 10px;

                        #next-events,
                        #next-homeworks {
                            box-shadow: none;
                        }
                    }  
                }

                /*.open-week-btn {
                    height: 1.5rem;
                    transform: translateY(50%);
                }*/

                #next-events,
                #next-homeworks {
                    @include flex(column);
                    margin: 0 auto;
                    width: 97%;
                    padding: 1rem;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }

                #next-events {
                    .next-events-title {
                        text-align: center;
                        color: map-get($colors, "teal-dark");
                        margin-bottom: 1rem;
                        font-weight: 700;
                    }

                    .day-events {
                        @include flex(column);

                        .day-title {
                            margin-bottom: 1rem;
                            font-weight: 700;
                        }
                    }
                }

                #next-homeworks {
                    margin-top: 2rem;

                    .next-homeworks-title {
                        text-align: center;
                        color: map-get($colors, "purple-dark");;
                        margin-bottom: .5rem;
                        font-weight: 700;
                    }

                    #homeworks-container {
                        @include flex(column);
                        gap: 1rem;
                        margin-top: 2rem;

                        .centered {
                            align-self: center;
                        }

                        .day-homeworks {
                            @include flex(column, $align: flex-start);
                            gap: 0.5rem;

                            .day-title {
                                display: inline;
                                background-color: map-get($colors, "purple-light");;
                                border-radius: 0 2rem 2rem 0;
                                padding: .5rem;

                                .bold {
                                    font-weight: 700;
                                }
                            }

                            .homework {
                                @include flex(column);
                                gap: 0.5rem;
                                width: 100%;

                                .header {
                                    @include flex($justify: space-between, $align: center);

                                    .course-name {
                                        font-weight: 700;
                                    }

                                    .made {
                                        position: relative;
                                        background-color: #e2e2e2ff;
                                        padding: 2px 8px;
                                        border-radius: 0 0 0 5px;

                                        &.is-mad {
                                            background-color: map-get($colors, "purple-light");;
                                        }

                                        &::after {
                                            content: "";
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            width: 0;
                                            height: 0;
                                            border-top: 10px solid whitesmoke;
                                            border-left: 10px solid transparent;
                                            z-index: 1;
                                        }
                                    }
                                }

                                .homework-description.is-mad{
                                    display: none;
                                }

                                .footer {
                                    @include flex($align: center);
                                    gap: 0.5rem;
                                    align-self: flex-end;
                                }
                            }
                        }
                    }

                }
            }

            #week-view {
                width: 90%;
                position: relative;

                &.view {
                    display: none;
                    animation: popScale 0.15s cubic-bezier(0.3, 0.56, 0.23, 0.63);

                    &.active-view {
                        display: block;
                    }
                }

                .navigator-bar {
                    @include flex($justify: space-between, $align: center);
                    margin: 1rem auto;
                    border: 1px solid lightgray;
                    border-radius: 3px;
                    width: 100%;

                    #open-calendar-btn:active{
                        padding: .5rem;
                        border-radius: 10px;
                        background-color: map-get($colors, "gray-selection");
                    }

                    button {
                        font-size: 1.5rem;
                        padding: .5rem;

                        &:active{
                            background-color: map-get($colors, "gray-selection");
                        }
                    }
                }

                #week-events-container {
                    width: 100%;
                    margin: 0 auto;

                    .weather-container{
                        @include flex($justify: space-between, $align: center);
                        margin: 1rem 0;

                        .weather-details{
                            @include flex($align: center);
                            gap: .5rem;
                            font-size: .8rem;
    
                            .weather-icon{
                                width: 1rem;
                            }
                        }
                    }
                    
                }
            }

            #home-view,
            #week-view {
                .event {
                    border-radius: 10px;

                    margin-left: .5rem;
                    @include flex;

                    &:not(.empty) {
                        margin-bottom: 1rem;
                    }

                    transition: all .3s ease-in-out;

                    .blacklisted-event-container{
                        @include flex($align: center, $gap:.5rem);
                        font-size: .8rem;

                        .blacklist-event{
                            height: 1.3rem;
                        }
                    }
                }

                .details {
                    @include flex;
                }

                .times {
                    @include flex(column, $justify: space-between);
                    margin: .3rem 0;
                }

                .seperator {
                    height: 100%;
                    min-height: 13vh; /*15vh*/
                    width: 8px; /*.5rem*/
                    min-width: 8px;
                    border-radius: 2rem;
                    margin-right: .5rem;
                    margin-left: .5rem;
                }

                .details-text {
                    @include flex(column, $justify: flex-start);
                    margin: .3rem 0;

                    .title {
                        font-weight: bold;
                        margin-bottom: .5rem;
                    }

                    .location {
                        font-size: .9rem;
                        margin-bottom: .5rem;
                    }

                    .professor {
                        font-size: .7rem;
                        margin-bottom: .5rem;
                    }

                    .badges-container {
                        @include flex;
                        gap: 5px;

                        .event-badge,.add-homework, .blacklist-event {
                            height: 1.5rem;
                        }
                    }
                }
            }

            #week-view {
                .event:active {
                    background-color: map-get($colors, "gray-selection");
                    scale: .98;
                }
            }
        }

        #change-address-modal {
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);
            position: fixed;
            top: 0;
            left: 0;
            @include flex($justify: center, $align: center);
            display: none;
            z-index: z(change-address-modal);

            .modal-content {
                width: 90%;
                background-color: white;
                padding: 2rem;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                @include flex(column, space-between, center);
                position: relative;

                #close-address-modal-btn {
                    height: 1.7rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(45%, -45%);
                }

                h2 {
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $first-color;
                }

                .seperator {
                    height: 4px;
                    width: 50%;
                    background-color: $first-color;
                    margin: 1rem 0;
                    border-radius: 2rem;
                }

                .mediums-container {
                    margin: 2rem auto;
                    @include flex(column, $align: center);
                    width: 100%;

                    #open-scanner-btn {
                        border: 2px solid $first-color;
                        background-color: #fff;
                        padding: 10px 20px;
                        border-radius: 2rem;
                        font-weight: bold;
                        color: $first-color;
                        width: 100%;

                        &:focus {
                            background-color: $first-color;
                            color: #fff;
                        }
                    }

                    .or-separator {
                        margin: 1rem 0;
                        font-weight: bold;
                    }

                    #address-input {
                        padding: 10px;
                        border: 2px solid $first-color;
                        border-radius: 2rem;
                        text-align: center;
                        outline: none;
                        width: 100%;
                    }
                }

                #save-address-btn {
                    background-color: #edd5dbff;
                    color: $first-color;
                    padding: 10px 20px;
                    border: none;
                    padding: 10px 20px;
                    border-radius: 2rem;
                    font-weight: bold;
                }
            }
        }

        #debug-view {
            position: absolute;
            top: 0;
            left: 0;
            width: 70vw;
            height: 20vh;
        }
    }
}
