@charset "UTF-8";
/* style épuré façon hyperplanning */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: #f5f6f8;
  color: #222;
  min-height: 100vh;
}

body #app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

body #app button {
  background: none;
  border: none;
}

body #app header {
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 5vw;
  background-color: #722241ff;
  color: #fff;
  border-radius: 0 0 15px 15px;
}

body #app header .header-logo {
  height: 95%;
}

body #app header .menu-buttons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app header .menu-buttons #toggle-home-view {
  height: 50%;
}

body #app main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

body #app main #home-view #next-events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 90vw;
}

body #app main #home-view .open-week-btn {
  height: 1.5rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

body #app main #home-view #next-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 97%;
  padding: 1rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body #app main #home-view .next-events-title {
  text-align: center;
  color: #0b4e50ff;
  margin-bottom: 1rem;
  font-weight: 700;
}

body #app main #home-view .day-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #app main #home-view .day-events .day-title {
  margin-bottom: 1rem;
  font-weight: 700;
}

body #app main #week-view {
  display: none;
}

body #app main #week-view .navigator-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  border: 1px solid lightgray;
  border-radius: 3px;
}

body #app main #week-view .navigator-bar button {
  font-size: 1.5rem;
  padding: .5rem;
}

body #app main #home-view .event,
body #app main #week-view .event {
  margin-left: .5rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #app main #home-view .details,
body #app main #week-view .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #app main #home-view .times,
body #app main #week-view .times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .3rem 0;
}

body #app main #home-view .seperator,
body #app main #week-view .seperator {
  height: 100%;
  min-height: 15vh;
  width: .5rem;
  border-radius: 2rem;
  background-color: crimson;
  margin-right: .5rem;
  margin-left: .5rem;
}

body #app main #home-view .details-text,
body #app main #week-view .details-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: .3rem 0;
}

body #app main #home-view .title,
body #app main #week-view .title {
  font-weight: bold;
  margin-bottom: .5rem;
}

body #app main #home-view .location,
body #app main #week-view .location {
  font-size: .9rem;
}

body #app footer {
  color: white;
  text-align: center;
  font-size: .8rem;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body #app footer .left,
body #app footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

body #app footer .left #last-update-label,
body #app footer .right #last-update-label {
  background-color: #c6c6c6ff;
  padding: 5px 10px;
  border-radius: 1rem;
}

body #app footer .action-btn {
  height: 1.7rem;
}

body #app #change-address-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

body #app #change-address-modal .modal-content {
  width: 90%;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body #app #change-address-modal .modal-content #close-address-modal-btn {
  height: 1.7rem;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(45%, -45%);
          transform: translate(45%, -45%);
}

body #app #change-address-modal .modal-content h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #722241ff;
}

body #app #change-address-modal .modal-content .seperator {
  height: 4px;
  width: 50%;
  background-color: #722241ff;
  margin: 1rem 0;
  border-radius: 2rem;
}

body #app #change-address-modal .modal-content .mediums-container {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body #app #change-address-modal .modal-content .mediums-container #open-scanner-btn {
  border: 2px solid #722241ff;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 2rem;
  font-weight: bold;
  color: #722241ff;
  width: 100%;
}

body #app #change-address-modal .modal-content .mediums-container #open-scanner-btn:focus {
  background-color: #722241ff;
  color: #fff;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body #app #change-address-modal .modal-content .mediums-container .or-separator {
  margin: 1rem 0;
  font-weight: bold;
}

body #app #change-address-modal .modal-content .mediums-container #address-input {
  padding: 10px;
  border: 2px solid #722241ff;
  border-radius: 2rem;
  text-align: center;
  outline: none;
  width: 100%;
}

body #app #change-address-modal .modal-content #save-address-btn {
  background-color: #edd5dbff;
  color: #722241ff;
  padding: 10px 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 2rem;
  font-weight: bold;
}
/*# sourceMappingURL=index.css.map */