@charset "UTF-8";
/* style épuré façon hyperplanning */
* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: #f5f6f8;
  color: #222;
  min-height: 100vh;
}
body #app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}
body #app button {
  background: none;
  border: none;
}
body #app header {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5vw;
  background-color: #722241;
  color: #fff;
  border-radius: 0 0 15px 15px;
}
body #app header .header-logo {
  height: 95%;
}
body #app header .menu-buttons {
  height: 100%;
  display: flex;
  align-items: center;
}
body #app header .menu-buttons #toggle-home-view {
  height: 50%;
}
body #app main {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}
body #app main #home-view.view {
  display: none;
  animation: popScale 0.15s cubic-bezier(0.3, 0.56, 0.23, 0.63);
}
body #app main #home-view.view.active-view {
  display: block;
}
body #app main #home-view #next-events-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 90vw;
}
body #app main #home-view .open-week-btn {
  height: 1.5rem;
  transform: translateY(50%);
}
body #app main #home-view #next-events,
body #app main #home-view #next-homeworks {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 97%;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body #app main #home-view #next-events .next-events-title {
  text-align: center;
  color: #0b4e50;
  margin-bottom: 1rem;
  font-weight: 700;
}
body #app main #home-view #next-events .day-events {
  display: flex;
  flex-direction: column;
}
body #app main #home-view #next-events .day-events .day-title {
  margin-bottom: 1rem;
  font-weight: 700;
}
body #app main #home-view #next-homeworks {
  margin-top: 2rem;
}
body #app main #home-view #next-homeworks .next-homeworks-title {
  text-align: center;
  color: #42206a;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
body #app main #home-view #next-homeworks #homeworks-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
body #app main #home-view #next-homeworks #homeworks-container .centered {
  align-self: center;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .day-title {
  display: inline;
  background-color: #ebdafe;
  border-radius: 0 2rem 2rem 0;
  padding: 0.5rem;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .day-title .bold {
  font-weight: 700;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .homework {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .homework .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .homework .header .course-name {
  font-weight: 700;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .homework .header .made {
  position: relative;
  background-color: #e2e2e2;
  padding: 2px 8px;
  border-radius: 0 0 0 5px;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .homework .header .made.is-mad {
  background-color: #ebdafe;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .homework .header .made::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 10px solid whitesmoke;
  border-left: 10px solid transparent;
  z-index: 1;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .homework .homework-description.is-mad {
  display: none;
}
body #app main #home-view #next-homeworks #homeworks-container .day-homeworks .homework .footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: flex-end;
}
body #app main #week-view {
  width: 90%;
}
body #app main #week-view.view {
  display: none;
  animation: popScale 0.15s cubic-bezier(0.3, 0.56, 0.23, 0.63);
}
body #app main #week-view.view.active-view {
  display: block;
}
body #app main #week-view .navigator-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 100%;
}
body #app main #week-view .navigator-bar button {
  font-size: 1.5rem;
  padding: 0.5rem;
}
body #app main #week-view #week-events-container {
  width: 100%;
  margin: 0 auto;
}
body #app main #home-view .event,
body #app main #week-view .event {
  border-radius: 10px;
  margin-left: 0.5rem;
  display: flex;
  /*touch-action: pan-y;
  évite conflits scroll
  user-select: none;
  cursor: grab;*/
  transition: all 0.3s ease-in-out;
}
body #app main #home-view .event:not(.empty),
body #app main #week-view .event:not(.empty) {
  margin-bottom: 1rem;
}
body #app main #home-view .details,
body #app main #week-view .details {
  display: flex;
}
body #app main #home-view .times,
body #app main #week-view .times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.3rem 0;
}
body #app main #home-view .seperator,
body #app main #week-view .seperator {
  height: 100%;
  min-height: 15vh;
  width: 8px; /*.5rem*/
  min-width: 8px;
  border-radius: 2rem;
  background-color: crimson;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
body #app main #home-view .details-text,
body #app main #week-view .details-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.3rem 0;
}
body #app main #home-view .details-text .title,
body #app main #week-view .details-text .title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
body #app main #home-view .details-text .location,
body #app main #week-view .details-text .location {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
body #app main #home-view .details-text .professor,
body #app main #week-view .details-text .professor {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
body #app main #home-view .details-text .badges-container,
body #app main #week-view .details-text .badges-container {
  display: flex;
  gap: 5px;
}
body #app main #home-view .details-text .badges-container .event-badge, body #app main #home-view .details-text .badges-container .add-homework,
body #app main #week-view .details-text .badges-container .event-badge,
body #app main #week-view .details-text .badges-container .add-homework {
  height: 1.5rem;
}
body #app main #week-view .event:active {
  background-color: rgb(231, 230, 230);
  scale: 0.98;
}
body #app footer {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body #app footer .left,
body #app footer .right {
  display: flex;
  align-items: center;
  gap: 5px;
}
body #app footer .left #last-update-label,
body #app footer .right #last-update-label {
  background-color: #c6c6c6;
  padding: 5px 10px;
  border-radius: 1rem;
}
body #app footer .action-btn {
  height: 1.7rem;
}
body #app #change-address-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
body #app #change-address-modal .modal-content {
  width: 90%;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
body #app #change-address-modal .modal-content #close-address-modal-btn {
  height: 1.7rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(45%, -45%);
}
body #app #change-address-modal .modal-content h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #722241;
}
body #app #change-address-modal .modal-content .seperator {
  height: 4px;
  width: 50%;
  background-color: #722241;
  margin: 1rem 0;
  border-radius: 2rem;
}
body #app #change-address-modal .modal-content .mediums-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body #app #change-address-modal .modal-content .mediums-container #open-scanner-btn {
  border: 2px solid #722241;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 2rem;
  font-weight: bold;
  color: #722241;
  width: 100%;
}
body #app #change-address-modal .modal-content .mediums-container #open-scanner-btn:focus {
  background-color: #722241;
  color: #fff;
}
body #app #change-address-modal .modal-content .mediums-container .or-separator {
  margin: 1rem 0;
  font-weight: bold;
}
body #app #change-address-modal .modal-content .mediums-container #address-input {
  padding: 10px;
  border: 2px solid #722241;
  border-radius: 2rem;
  text-align: center;
  outline: none;
  width: 100%;
}
body #app #change-address-modal .modal-content #save-address-btn {
  background-color: #edd5db;
  color: #722241;
  padding: 10px 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 2rem;
  font-weight: bold;
}
body #app #debug-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 20vh;
}
body #app #loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
body #app #loader-container #loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #722241;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
body .clickable:active {
  scale: 0.9;
}

@keyframes popScale {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */